body {
    background-color: lightblue;
}
h1 {
    color: red;
    text-align: center;
}
h2 {
    color: blue;
    text-align: left;
}
.div{
	border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 600px;
}
.butBuy{
  	background: linear-gradient(to right, green , blue); /* Standard syntax */
  	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button{
  	background: linear-gradient(to right, red , yellow); /* Standard syntax */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.form {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 250px;
    height: 220px; 
}

.forminput{
	float :right;
}