body {
    background-color: #f2f2f2;
    font-family: Helvetica, sans-serif;
    color: #1D1547;
    margin: 0;
}

h2 {
    font-weight: 600;
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #1D1547;
    transition: 0.3s;
}

a:hover {
    color: #6654B2;
    transition: 0.3s;
}

.selected {
    color: #6654B2;
}

.menu {
    margin: 50px;
}

.slideshow {
    background-color: #fff;
    padding: 50px;
}

.footer {
    padding: 50px;
}

input {
    background-color: #E89260;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    position:relative;
    bottom: 25px;
    margin-bottom: -25px;
    margin-left: 80%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.coque {
    background-color: #fff;
    border: 1px solid #6654B2;
    height: 200px;
    width: 120px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.ecran {
    background-color: #1D1547;
    height: 150px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 20px;
}

.button {
    background-color: #1D1547;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 28px;
}

@keyframes phonetra {
    from {background-color: #fff; border: 1px solid #6654B2;}
    to {background-color: #6654B2; border: 1px solid #fff;}
}

@keyframes phonetrb {
    from {background-color: #6654B2; border: 1px solid #fff;}
    to {background-color: #fff; border: 1px solid #6654B2;}
}

@keyframes transb {
    from {background-color: #6654B2; color: #fff;}
    to {}
}

@keyframes transa {
    from {}
    to {background-color: #6654B2; color: #fff;}
}